#root {
  width: 1280px;
  margin: 0 auto;
}

.divider{
  margin-top: 12px;
  border-bottom:  1px solid rgba(17, 17, 17, 0.15);
}

.container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 4px;
}
.side-card-container{
  position: sticky;
}
@media screen  and (max-width: 576px){
  .container{
    grid-template-columns: 1fr;
    gap: 10px;
  }
}